/********************************************************************************
 *   Stylings for brautpaar-side
 *
 * find all styles for brautpaar-side here.
 ********************************************************************************/
our-brautpaar {
  .starter {
    img {
      width: 100%;
    }
    h1 {
      margin: -20% auto 0;
      text-align: center;
    }
    blockquote {
      text-align: center;
    }
  }
}