/********************************************************************************
 *   Stylings for the navigation
 *
 * Find all the styles for the navigation here.
 ********************************************************************************/

/*** Variables ***/
/* Sizes */
$logo-width: 100px;
$anchor-padding: 8px;

///*** Styling ***/

nav {
  position: fixed;
  width: 100%;

  ul {
    list-style-type: none;
    padding: 0;
  }

  a {
    padding: $anchor-padding;
    background-color: #6aff85;

  }

  > ul > li {
    display: block;
    float: left;
    width: 20%;
    text-align: center;

    > ul {
      margin-top: 20px;

      > li {
        padding: $anchor-padding + 2px;
      }
    }
  }

}

/* logo */
.logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;

  img {
    width: $logo-width;
    margin: 0 ($logo-width / -2);
  }
}