/********************************************************************************
 *   Main Styling-sheet
 *
 * All SCSS-stylesheets get connected there.
 * Additional find all general styles and variables here.
 ********************************************************************************/
@import "functions";

/*** Variables ***/
/* fonts */
$font:  'Mathlete-Skinny';
$font-header: 'Alex Brush';

/* Colors */
$text-color: #69aba9;
$primary-color: #1d7aad;
$secondary-color: #009e73;

/*** general stylings ***/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font;
  text-transform: uppercase;
  margin: 0;
  color: $text-color;
}

#{headings(1,6)} {
  font-family: $font-header;
  text-transform: none;
}

a {
  text-decoration: none;
  color: $text-color;
}








