/********************************************************************************
 *   Main Styling-sheet
 *
 * All SCSS-stylesheets get connected there.
 * Additional find all general styles and variables here.
 ********************************************************************************/
@import "functions";

/*** Variables ***/
/* Colors */
$text-color: #ff9ae7;

/* fonts */
$font:  'Raleway', sans-serif;
$font-header: 'Amatic SC', cursive;

/*** general stylings ***/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font;
  margin: 0;
  color: $text-color;
}

#{headings(1,6)} {
  font-family: $font-header;
}

a {
  text-decoration: none;
  color: $text-color;
}








